<body>
	<div class="light-box">
		<img class="imgboxcontact" src="images/band.jpg"/>	
	</div>
	<img class="banner" src="images/cantinabanner.png"/>
	<img class="xwing" src="images/xwing.png"/>


	<div id="container-contact">
		<h1 class="concern">If you have any comments or concerns please forward them directly to Jabbas palace.</h1>
		<h2 class="comment">Please enter your name, email adress, and your comment and we will get back to you shortly.</h2>
		<div id="submitForm">
		 <form method="POST" action="/contact">
		 <label for="name">Name</label>
		 <input type="text" name="name" value="Lando Calrissian">
		 <label for="email">Email</label>
		 <input type="email" name ="email" value="Smooth_Smuggler@Bespin.gov">
		<!--  <label for="textarea">Comments</label>
		 <input type="text" name ="textarea"> -->
		 <textarea name="textarea" id="text" cols="30" rows="5" value="The Rancor pit was fun for the whole family. Salcious Grub was much more polite than I expected."></textarea>
		 <input type="submit">
		</form>
	</div>
		<img class="hutt" src="images/jabba.png"/>
	</div>
	<h1 class="dont-click">DO NOT CLICK JABBA! YOU HAVE BEEN WARNED!</h1>
	<footer>
		<img class="footer" src="images/cantinafooter.png"/>
	</footer>

</body>