<body>
	<div class="light-box">
		<a href="#"><img class="imgbox" src="images/cantina.jpg"/></a>	
	</div>


	<div id="container">
		<h1 class="concern">Hi </h1> <h1 class="concern"><%= @name %></h1>
		<h2 class="comment">Jabba has received your comment. Bib Fortuna or Salacious Crum will contact you shortly at </h2><h2 class="comment"> <%= @email %></h2>
		<div id="submitForm">
	</div>
	</div>
</body>