<body>
	<div class="light-box">
		<img class="imgboxsuccess" src="images/livemusic.jpg"/>
	</div>


	<div id="container">
		<h1 class="concern">Hi </h1> <h1 class="concern"><%= @name %></h1>
		<h2 class="comment">Jabba has received your comment. Bib Fortuna or Salacious Crum will contact you shortly at </h2><h2 class="comment"> <%= @email %></h2>
		<div id="submitForm">
		</div>
		<h2 class="forget">Dont Forget!</h2>
		<h2 class="forget">Our Upcoming Shows</h2> 
		<img class="max" src="images/Maxreebo.jpg"/>
		<img class="snootles" src="images/snootles.jpg"/>
	</div>
</body>