<body>
	<img class="banner" src="images/cantinabanner.png"/>
	<img class="xwing" src="images/xwing.png"/>
	<div class="light-box">
		<img class="imgbox" src="images/cantina.jpg"/>	
	</div>


	<div id="container">
		
		<div id='left'>
		<img class='falcon' src="images/millenium_falcon.png"/>
		<img class="no_droids" src="images/no_droids.jpg"/>
		<img class="c3po" src="images/c3po.png"/>
		</div>
		<div id='right'>
			<img class='spaceport' src='images/spaceport.jpg'/>
			<h1 class='mos'>Mos Eisley Cantina</h1>
			<h2 class='scum'>Where scum and Villainy come t o drink</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.
			</p>	
		</div>	
	</div>
	<footer>
		<img class="footer" src="images/cantinafooter.png"/>
	</footer>
</body>
</html>

</body>
</html>