
<body>
	<div id="container">
		<h1 class='mos'>Mos Eisley Cantina</h1>
		<h2 class='scum'>Where scum and Villainy come to drink</h2>
		<div id='left'>
		<img class='falcon' src="images/millenium_falcon.png"/>
		<img class="no_droids" src="images/no_droids.jpg"/>
		<img class="c3po" src="images/c3po.png"/>
		</div>
		<div id='right'>
			<img class='spaceport' src='images/spaceport.jpg'/>
			<h1>Mos Eisley Cantina</h1> 
			<h3>Where Scum and Villainy come to drink</h3> 
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quaerat nobis veritatis adipisci quae vel optio, ipsum quibusdam laudantium repellendus aut similique dolorem, eaque praesentium, deleniti sapiente ipsa. Facilis, hic.
			</p>	
		</div>	
	</div>
</body>
</html>