<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mos Eisley Cantina Home</title>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="nav.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/home.js"></script>
</head>

<!-- banner nav bar -->
<!-- top banner -->
	<img src="http://pre06.deviantart.net/0192/th/pre/f/2011/230/e/b/mos_eisley_cantina_version_2_by_recklessrevan-d4730qo.jpg" width="100%" height="215px">
	
<!-- fixed dropdown nav bar -->
	<div class="wrapper">
		<header>
			<div class="container">
  					<div class="dropdown">
    			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
    				<span class="caret"></span></button>
    					<ul class="dropdown-menu">
					      <li><a href="#">About Us</a></li>
					      <li><a href="#">Contact Us</a></li>
					      <li><a href="menu.html">Menu</a></li>
    					</ul>
  					</div>
			</div>
		</header>
	</div>


<%= yield %>


<!-- footer -->
<div class="footer">
<footer>
	<img src="https://originaldave77.files.wordpress.com/2014/03/no-droids-allowed-pub-sign.png?w=914" width="100%" height="225px">
</footer>
</div>	