<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mos Eisley Cantina Home</title>
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="menu.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="js/home.js"></script>
</head>
<body>
	<div id="container">
	<!-- Put content in here!!! -->
	<!-- this is the top banner -->
	<img src="http://pre06.deviantart.net/0192/th/pre/f/2011/230/e/b/mos_eisley_cantina_version_2_by_recklessrevan-d4730qo.jpg" width="100%" height="215px" class="banner" />


<!-- fixed dropdown box-->
		<div class="nav">
		<header>
			<div class="container">
  					<div class="dropdown">
    			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
    				<span class="caret"></span></button>
    					<ul class="dropdown-menu">
					      <li><a href="#">About Us</a></li>
					      <li><a href="#">Contact Us</a></li>
					      <li><a href="nav.html">Home</a></li>
    					</ul>
  					</div>
			</div>
		</header>
		</div>


<!-- start of menu image gallery -->
 <div class="wrapper">
 	<div class="pic">
 		<figure><img src="http://a.dilcdn.com/bl/wp-content/uploads/sites/6/2015/04/Hummus.jpg"/>
 		<figcaption>Darth Maul Soup: $5</figcaption>
 	</figure>
 </div>
 

 	<div class="pic">
 		<figure><img src="http://images1.miaminewtimes.com/imager/top-15-geek-food-tributes-to-star-wars-tr/u/original/6608356/darthvaderpizza.jpg"/>
 		<figcaption>Darth Pizza: $15</figcaption>
 	</figure>
 </div>


 	<div class="pic">
 		<figure><img src="http://www.livbit.com/article/wp-content/uploads/2012/04/darthvadersausagerolls_3.jpg"/>
 		<figcaption>Darth Rolls: $7</figcaption>
 	</figure>
 </div>
 

 	<div class="pic">
 		<figure><img src="http://farm5.static.flickr.com/4061/4641029215_50c76c0aa9.jpg"/>
 		<figcaption>Pancakes: $7</figcaption>
 	</figure>
 </div>


 	<div class="pic">
 		<figure><img src="http://www.igeektrooper.com/wp-content/uploads/2011/09/starwarsfoodsculpt11.jpg"/>
 		<figcaption>Trooper Platter: $15</figcaption>
 	</figure>
 </div>


 	<div class="pic">
 		<figure><img src="http://geekologie.com/2007/12/07/yoda-pizza.jpg"/>
 		<figcaption>Yoda Pizza: $15</figcaption>
 	</figure>
 </div>


 	<div class="pic">
 		<figure><img src="http://42e7xc172a051i7v1iyv99nn.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/Storm-Trooper-Cupcake-11.jpg">
 		<figcaption>Cupcakes: $.75 per</figcaption>
 	</figure>
 	</div>


 	<div class="pic">
 		<figure><img src="https://lifeoutsidethebottle.files.wordpress.com/2013/09/img_0375.jpg">
 		<figcaption>Chewy Cookies: $.75</figcaption>
 	</figure>
	</div>


	<div class="pic">
		<figure><img src="http://cdn.trendhunterstatic.com/phpthumbnails/186/186411/186411_1_800.jpeg">
		<figcaption>R2D2 Jell-O: $3</figcaption>
	</figure>
	</div>
</div>


<footer>
	<img src="https://originaldave77.files.wordpress.com/2014/03/no-droids-allowed-pub-sign.png?w=914" width="100%" height="235px">
</footer>

	</div>
</body>
</html>