body {
	background-image: url('../images/stars.png');
	margin: 0 auto;

}


.banner {
	width: 100%;
	position: absolute;
	top: -50px;
}



#container {
	/*Main container with a gutter showing background on each side.*/
	left: 200px;
	margin: 125px auto;
	margin-top: 80px;
	width: 900px;
	height: 1600px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: white;
}

#container-contact {
/*main container gutter specifically for the container page as layout was off.*/
	margin: 125px auto;
/*	marginL top:;*/
	width: 900px;
	height: 1600px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: white;
}

#container-contactsuccess {
	margin: 125px auto;
	width: 900px;
	height: 1600px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: white;
}

.falcon {
	width: 250px;
	position: relative;
	left:0px;
}

.shot {
	/*message appears after falcon clicked.*/
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 36px;
	color: white;
	text-align: center;
	position: relative;
	top: -80px;
	display:none;
	
}

.droidmessage {
	/*message appears after c3po clicked*/
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 36px;
	color: white;
	text-align: center;
	position: relative;
	top: -250px;
	display:none;

}


#left {
	/*left column in content*/
	width: 255px;
	float: left;
	display: inline;
}

#right {
	/*right column in content*/
	width: 500px;
	float: right;
	display: inline;
}

.no_droids {
	float: left;
	width: 250px;
	padding: 20px;
	border-radius: 28px;
}


.c3po {
	padding: 20px;
	position: relative;
	left: 0px;
}

.spaceport {
	width: 250px;
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 28px;

}


.mos {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
}

.scum {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
}


p {
	line-height: 1.4em;
	padding:10px;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
}

.testimonial {
	line-height: 1.4em;
	padding:10px;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
	font-size: 40px;
}



#submitForm {
	font-size: 24px;
	text-align: center;

}

textarea {
	padding: 30px;
	top: 300px;
}

.concern {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 50px;
	color: white;
	text-align: center;
	padding: 10px;
}

.comment {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 40px;
	color: white;
	text-align: center;
	padding: 10px;
}

.imgboxband {
	position: absolute;
	top: 20px;
	left: 350px;
	width: 500px;
	border-radius: 120px;
}

.max {
	width: 300px;
	border-radius: 44px;
	padding: 70px;
	display: none;
}

.forget {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 40px;
	color: white;
	text-align: center;
	display: none;

}

.snootles {
	width: 300px;
	border-radius: 44px;
	padding: 70px;
	display: none;
}

#aboutbox {
	margin: 125px auto;
	width: 100%;
	height: 400px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border: 5px solid white;

}

img {
	width: 250px;
	float: left;
	margin-top: 30px;
	padding: 20px;
	transition: .7s;
}



.employee_name {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 50px;
	color: white;
	display: inline;
	text-align: center;
	top: 30px;

}

.employee_bio {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 24px;
	color: white;
	text-align: center;
	top: 20px;
}


.xwing {
	position: absolute;
	left: -15px;
	top: 200px;
	width:150px;
}

.laser {
	width: 50px;
	position: relative;
	top: -80px;
}

.footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	margin-top: 150px;
}
.light-box {
	position: fixed;
	background-color: rgba(40, 24, 3, .9);
	left: 0px;
	top: 0px;
	width: 100%;
	height:100%;
}

.imgbox {
	position: absolute;
	top: 25px;
	left: 225px;
	width: 800px;
	border-radius: 120px;

}

.imgboxcontact {
	position: absolute;
	left: 350px;
	width: 450px;
	border-radius: 120px;

}

.imgboxabout {
	position: absolute;
	top: -10px;
	left: 400px;
	width: 400px;
	border-radius: 120px;
}

.imgboxsuccess {
	position: absolute;
	left: 360px;
	width: 420px;
	border-radius: 120px;

}

.auditions {
	padding: 130px;

}

.hutt {
	width: 500px;
}

.dont-click {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
	position: absolute;
	top: 1400px;
	left:250px;
}



ul#list-nav {
	list-style: none;
	margin-top: 290px;
	margin-left: 400px;
	padding: 15px;
	width: 525px;
}

ul#list-nav li {
	display: inline;
	padding: 15px;
}

ul#list-nav li a {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	text-decoration:none;
	padding:15px;
	width:100px;
	background:white;
	color:black;
	text-align:center;
	border-left:1px solid #fff;
	transition: 1s;
}

ul#list-nav li a:hover {
	background:black;
	color:white;

}

.wrapper {
	width: 720px;
	margin-left: 20px;
}

.pic {
	width: 220px;
	float: left;
	margin: 10px;
	height: 198px;
}

figure {
	display: block;
	width: 200px;
	height: 180px;
	/*background-color: white;*/
	padding: 9px;
	text-align: left;
}

figure img {
	width: 200px;
	height: 160px;
	border: 1px solid #d6d6d6;
}

figcaption {
	color: white;
	padding-left: 20px;
	background-repeat: no-repeat;
	text-align: left;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

.pic:hover{
	transition: all 600ms ease-in;
    transform: scale(1.5);
}

.menuhead{
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: red;
	text-align: center;
}



