body {
	background-image: url('../images/stars.png');
	/*position: fixed;*/
	margin: 0 auto;

}


.banner {
	width: 100%;
	position: absolute;
	top: -50px;
	/*left: -10px;*/
}



#container {
	/*I want the main container of the page to have a gutter on each side. The information */
	/*position: relative;*/
	/*padding-top: 20px;*/
	/*top: 300px;*/
	left: 200px;
	margin: 125px auto;
	margin-top: 80px;
	width: 900px;
	height: 1600px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: white;
}

#container-contact {
	/*I want the main container of the page to have a gutter on each side. The information */
	/*position: relative;*/
	/*padding-top: 20px;*/
	/*top: 200px;
	left: 200px;*/

	margin: 125px auto;
	/*margin-top: 360px;*/
	width: 900px;
	height: 1600px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border-left: 5px solid;
	border-right: 5px solid;
	border-color: white;
}

.falcon {
	width: 250px;
	position: relative;
	left:0px;
}

#left {
	width: 255px;
	float: left;
	display: inline;
}

#right {
	width: 500px;
	float: right;
	display: inline;
}

.no_droids {
	float: left;
	width: 250px;
	padding: 20px;
	border-radius: 28px;
	transition: .8s;
}
/*.no_droids:hover {
	opacity:1;
}*/

.c3po{
	padding: 20px;
	position: relative;
	left: 0px;
}
.spaceport {
	width: 250px;
	float: left;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 28px;
	transition: .8s;
	/*opacity:.8;*/
	/*When the opacity was set it kept interfering with the lightbox*/

}

/*.spaceport:hover{
	opacity: 1;
}*/

.mos {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	/*font-size: 50px;*/
	color: white;
	/*text-align: center;*/
	/*display: inline;*/
	/*float: left;*/
}

.scum {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
	/*text-align: center;*/
	/*display: inline;*/
	/*float: left;*/

}


p {
	line-height: 1.4em;
	padding:10px;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: white;
}

#submitForm {
	/*position: relative;*/
	font-size: 24px;
	text-align: center;

}

textarea {
	padding: 30px;
	top: 300px;
}

.concern {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 50px;
	color: white;
	/*display: inline;*/
	text-align: center;
	padding: 10px;

	/*left: 250px;*/
}

.comment {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 40px;
	color: white;
	text-align: center;
	padding: 10px;
	/*display: inline;*/
}

.imgboxband {
	position: absolute;
	top: 20px;
	left: 350px;
	width: 500px;
	border-radius: 120px;
}

.max {
	width: 300px;
	/*position: relative;*/
	/*top: 0px;*/
	/*left: 200px;*/
	border-radius: 44px;
	padding: 70px;
	display: none;
}

.forget {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 40px;
	color: white;
	/*display: inline;*/
	text-align: center;
	/*padding: 10px;*/
	display: none;

}

.snootles {
	width: 300px;
	/*position: relative;*/
	/*top: 0px;*/
	/*left: 200px;*/
	border-radius: 44px;
	padding: 70px;
	display: none;
}

#aboutbox {
	/*position: relative;*/
	/*padding-top: 40px;*/
	/*top: 300px;*/
	margin: 125px auto;
	width: 100%;
	height: 400px;
	background-color: rgba(227, 182, 130, .7);
	border-radius: 28px;
	border: 5px solid white;
/*	border-color: #661C08;*/

}

img {
	width: 250px;
	float: left;
	margin-top: 30px;
	padding: 20px;
	transition: .7s;
	/*border: 2px solid #661C08;*/
}



.employee_name {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 50px;
	color: white;
	display: inline;
/*	padding: 25px;*/
	text-align: center;
	/*position: relative;*/
	top: 30px;

}

.employee_bio {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 24px;
	color: white;
	text-align: center;
	/*position: relative;*/
	top: 20px;
/*	display: inline;*/
	/*float: right;*/
/*	position: relative;
	top: -100px;
	padding: 20px;*/
}

.xwing {
	position: absolute;
	left: -15px;
	top: 200px;
	width:150px;
}

.footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	margin-top: 150px;
}
.light-box {
	position: fixed;
	background-color: rgba(40, 24, 3, .9);
	left: 0px;
	top: 0px;
	width: 100%;
	height:100%;
}

.imgbox {
	position: absolute;
	top: 25px;
	left: 225px;
	width: 800px;
	border-radius: 120px;

}

.imgboxcontact {
	position: absolute;
	/*top: -10px;*/
	left: 350px;
	width: 450px;
	border-radius: 120px;

}

.imgboxabout {
	position: absolute;
	/*top: -10px;*/
	left: 320px;
	width: 600px;
	border-radius: 120px;
}

.imgboxsuccess {
	position: absolute;
	/*top: -10px;*/
	left: 360px;
	width: 420px;
	border-radius: 120px;

}

.auditions {
	padding: 130px;

}

.hutt {
	width: 500px;
	/*padding: 10px;*/
}



ul#list-nav {
	list-style: none;
	margin-top: 290px;
	margin-left: 400px;
	padding: 15px;
	width: 525px;
}

ul#list-nav li {
	display: inline;
	padding: 15px;
}

ul#list-nav li a {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	text-decoration:none;
	padding:15px;
	width:100px;
	background:white;
	color:black;
	text-align:center;
	border-left:1px solid #fff;
	transition: 1s;
}

ul#list-nav li a:hover {
	background:black;
	color:white;

}

.wrapper {
	width: 720px;
	margin-left: 325px;
}

.pic {
	width: 220px;
	float: left;
	margin: 10px;
	height: 198px;
}

figure {
	display: block;
	width: 200px;
	height: 180px;
	/*background-color: white;*/
	padding: 9px;
	text-align: left;
}

figure img {
	width: 200px;
	height: 160px;
	border: 1px solid #d6d6d6;
}

figcaption {
	color: white;
	padding-left: 20px;
	background-repeat: no-repeat;
	text-align: left;
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

.pic:hover{
	transition: all 600ms ease-in;
    transform: scale(1.5);
}

.menuhead{
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: red;
	text-align: center;
}


