.wrapper{
	margin: 0;
	padding: 0;
	float: left;
	display: inline;
}

ul {
	text-align: left;
	display: inline;
	margin: 0;
	/*padding: 15px 4px 17px 0;*/
	list-style: none;
}

ul li {
	margin-right: -4px;
	position: relative;
	background: #fff;
	cursor: pointer;
}

.container{
	float: left;
	display: inline;
	position: fixed;
}

.footer{
	margin-bottom: 0 auto;
	clear: both;
}

.space{
	margin: 18%;
}
